@font-face {
    font-family: msSansSerif;
    src: url(fonts/msSansSerifOptimized.woff2);
}

@font-face {
    font-family: msSansSerifBold;
    src: url(fonts/msSansSerifBoldOptimized.woff2);
}

*{
    font-smooth: never;
    -webkit-font-smoothing : none;
    image-rendering: pixelated;
    font-size: 22px;
}
body {
    background-color: #008282;
    font-family: msSansSerifBold;
    font-smooth: never;
    -webkit-font-smoothing : none;

}

h1 {
    font-family: msSansSerifBold;
}

p {
    font-family: msSansSerif;
}

b {
    font-family: msSansSerifBold;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
    pointer-events: none;
}

#startbutton:not(:disabled):active {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    padding: 0 5px 0px 15px;
}

#taskbarbutton:not(:disabled):active {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    padding: 0 5px 0px 15px;
}
  

@media (not(hover)) {
    #startbutton:not(:disabled):hover {
        box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    }
    #taskbarbutton:not(:disabled):hover {
        box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    }
}

#startbutton:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

#startbutton::-moz-focus-inner {
    border: 0;
}

#taskbarbutton:focus {
    outline: 1px dotted #000000;
    outline-offset: -4px;
  }
  
#taskbarbutton::-moz-focus-inner {
    border: 0;
}

.not {
    font-family: msSansSerifBold;
}

#taskbar {
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
    background-color: #c3c3c3;
    width: 100%;
    
    position: absolute;
    bottom: 0px;
    
    display: flex;
    align-items: center;
    height: 52px;
    padding: 4px;
    padding-top: 5px;
}

#startbutton {
    box-sizing: border-box;
    border: none;
    background: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
    border-radius: 0;
  
    min-width: 75px;
    min-height: 23px;
    padding: 0 10px;

    height: 100%;
    display: flex;
    gap: .4rem;
    margin-right: .1rem;
    align-items: center;

    cursor: pointer;
}

#taskbarbutton {
    box-sizing: border-box;
    border: none;
    background: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
    border-radius: 0;
  
    min-width: 75px;
    min-height: 23px;
    padding: 0 10px;

    height: 100%;
    display: flex;
    gap: .4rem;
    margin-right: .1rem;
    align-items: center;

    cursor: pointer;
}

.startbuttonimage {
    align-self: center;
    height: 32px;
    width: 32px;
    user-select: none;
}

.startbuttontext {
    align-self: center;
    height: 1.3rem;
    user-select: none;
}

#clock {
    margin-left: auto;

    box-sizing: border-box;
    border: none;
    background: #c0c0c0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    border-radius: 0;
  
    min-width: 150px;
    min-height: 23px;
    padding: 0 5px;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time {
    font-family: msSansSerif;
    user-select: none
}

.workspace{
    padding-top: 1rem;
}

.applications{
    margin: 0px;
}

.application{
    width: 128px;
    text-align: center
}

.application-icon{
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    width: 64px;
}

.application:not(:last-child) {
    margin-bottom: 2rem;
}


.application-name{
    color: white;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-left: 2px;
    user-select: none;

}

.application:focus > .application-name{
    background: #000c7b; 
    outline: 2px dotted #c0c0c0;
}

.application:focus > .application-icon{
    filter: invert(11%) sepia(97%) saturate(3852%) hue-rotate(235deg) brightness(68%) contrast(121%);
}


.window {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.titlebar {
    padding: 0px;
    cursor: move;
    background-color: #2196F3;
    color: #fff;
}

#SkillsWindow {
    display: none;
}

#ProjectsWindow {
    display: none;
}

#ContactMeWindow {
    display: none;
}